
.profile-info-container {
    display: flex;
    pointer-events: auto;
  z-index: 100;
    align-items: center;
    gap: 0.75rem;
}
.profile-initials {
    width: 3rem; 
    height: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px; 
    color: #0f172a; 
    font-weight: 500; 
    background-color: #f1f5f9;
}

.profile-name {
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #0f172a; 
}
.logout-button {
    font-size: 0.875rem; 
    color: #64748b; 
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
