
.password-input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff; 
  border: 2px solid #ddd; 
  padding: 0 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.password-input-container:focus-within {
  border-color: #007bff; 
}

.password-input-field {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  padding: 12px 0;
  margin-right: 10px;
  border: none;
  outline: none;
}

.icon-show,
.icon-hide {
  cursor: pointer;
  color: #b3b3b3;
}

.icon-show:hover,
.icon-hide:hover {
  color: #007bff; 
}


.icon-show {
  color: #007bff;
}
