
.search-bar-container {
    width: 20rem; 
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #f1f5f9;
        border-radius: 0.375rem; 
}
.search-input {
    width: 100%;
    font-size: 0.75rem; 
    background-color: transparent;
    padding: 0.6875rem 0; /* 11px */
    outline: none;
    border: none;
}

.clear-icon {
    font-size: 1.25rem; 
    color: #64748b; 
    cursor: pointer;
    margin-right: 0.75rem; 
    transition: color 0.2s ease;
}

.clear-icon:hover {
    color: #000000;
}

.search-icon {
    font-size: 1rem;
    color: #94a3b8;
    cursor: pointer;
    transition: color 0.2s ease;
}

.search-icon:hover {
    color: #000000;
}
